{% extends "mainPage.html" %}

{% block content_main %}
    <!-- 显示当前位置 -->
    <div class="current_pos">
        <p>
            &nbsp;&nbsp;文章标签:&nbsp;&nbsp;
           {{ tag.title }}
        </p>
    </div>
    {% for post in posts %}
        <div class="article">
            <h2 class="title"><a href="/articles/{{ post.id }}">{{ post.title }}</a></h2>
            <div class="article_info">
                <span class="byline"> {{ post.timestamp|date:"Y年n月j日" }}</span>
                <span class="readCnt">{{ post.readTimes }}人阅读过</span>
            </div>
            <div class="entry">
                <p>
                    {{ post.body|safe|slice:"20" }}
                </p>
                <p class="fullTextLink"><a href="articles/{{ post.id }}" class="more">&laquo;&laquo;&nbsp;&nbsp;阅读全文&nbsp;&nbsp;&raquo;&raquo;</a></p>
            </div>
        </div>
    {% endfor %}
{% endblock %}